.titleTop{
	  margin-left:6px;
	  margin-top:2px;
	  border:1px solid #c9e1f3; 
	  width:180px;
	  float:left;
	  padding-bottom:10px; 
	  margin-bottom:10px;
}
.titleContent{
	padding-left:16px; 
	line-height:24px;
}
.leftDhxx{
	color:#265c86;
	font-weight:bolder;
}
.jdletDh table a:link{ color:#b14500; text-decoration:underline;}
.kuaisu ul li{list-style:none; padding-left:20px;background:url(/fort/images/arrow_03.gif) left center no-repeat;}
.kuaisu ul{padding-left:20px;margin-top: 0px; margin-bottom: 0px;}
.kuaisu{ padding-left:0px; line-height:22px;}
.left_content{
   overflow-x:auto;
   overflow-y:auto;
   padding:0px 1px 0px 1px;
   margin: 0px 2px 0px 2px;
   height:250px;
    
}