<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd"
	default-lazy-init="true">
     
	<!-- baseservice 所有service都继承此类 -->
	<bean id="baseService" class="com.scholarship.service.impl.BaseServiceImpl"/>
	
	<!-- 账户及登录 -->
	<bean id="accountService"
		class="com.scholarship.service.account.impl.AccountServiceImpl"
		parent="baseService">
		<property name="accountDao" ref="accountDao"></property>
	</bean>
	<bean id="loginService" 
		class="com.scholarship.service.account.impl.LoginServiceImpl"
		parent="baseService">
		<property name="accountDao" ref="accountDao"></property>
	</bean>
	
	<!-- RoleService 角色服务层 -->
	<bean id="roleService"
		class="com.scholarship.service.role.impl.RoleServiceImpl"
		parent="baseService">
		<property name="roleDao" ref="roleDao"/>
	</bean>
	
	<!-- GradeService 年级服务层 -->
	<bean id="gradeService"
		class="com.scholarship.service.grade.impl.GradeServiceImpl"
		parent="baseService">
		<property name="gradeDao" ref="gradeDao"/>
	</bean>
	
	<!-- CollegeService 学院服务层 -->
	<bean id="collegeService"
		class="com.scholarship.service.college.impl.CollegeServiceImpl"
		parent="baseService">
		<property name="collegeDao" ref="collegeDao"/>
	</bean>
	
	<!-- ScholarshipService 奖学金服务层 -->
	<bean id="scholarshipService"
		class="com.scholarship.service.scholarship.impl.ScholarshipServiceImpl"
		parent="baseService">
		<property name="scholarshipDao" ref="scholarshipDao"/>
	</bean>
	
	<!-- ApplyService 申请服务层 -->
	<bean id="applyService"
		class="com.scholarship.service.apply.impl.ApplyServiceImpl"
		parent="baseService">
		<property name="applyDao" ref="applyDao"/>
	</bean>
	
	<!-- AuditService 审计服务层 -->
	<bean id="auditService"
		class="com.scholarship.service.audit.impl.AuditServiceImpl"
		parent="baseService">
		<property name="auditDao" ref="auditDao"/>
		<property name="accountDao" ref="accountDao"/>
	</bean>
	
	<!-- DatasService 数据服务层 -->
	<bean id="datasService"
		class="com.scholarship.service.datas.impl.DatasServiceImpl"
		parent="baseService">
		<property name="datasDao" ref="datasDao"/>
	</bean>
	
	<bean id="settingService"
		class="com.scholarship.service.setting.impl.SettingServiceImpl"
		parent="baseService">
		<property name="settingDao" ref="settingDao"/>
	</bean>
	<!-- <bean id="Service"
		class="com.scholarship.service."
		parent="baseService">
		<property name="Dao" ref="Dao"/>
	</bean> -->
</beans>







