<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
	default-lazy-init="true">
	
	<!-- 创建SqlSessionFactory，同时指定数据源-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
		<!--dataSource属性指定要用到的连接池--> 
		<property name="dataSource" ref="dataSource"/>
		<!--configLocation属性指定mybatis的核心配置文件-->
		<property name="configLocation" value="classpath:sql-map-config.xml"/>
  	</bean> 
  	
	<bean id="sqlSession"	class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"/>
	</bean>
  	
	<!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
    <bean id="transactionManager"	class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource"	ref="dataSource" />
    </bean>
	
	<!-- BaseDao 所有DAO继承此DAO -->
	<bean id="baseDaoMyBatis" class="com.scholarship.dao.mybatis.BaseDaoMyBatis">
		<property name="sqlSession" ref="sqlSession"></property>
	</bean>
	
	<!-- 角色DAO -->
	<bean id="roleDao" 		class="com.scholarship.dao.role.impl.RoleDaoImpl" parent="baseDaoMyBatis"/>
	<!-- 年级DAO -->
	<bean id="gradeDao" 	class="com.scholarship.dao.grade.impl.GradeDaoImpl" parent="baseDaoMyBatis"/>
	<!-- 学院DAO -->
	<bean id="collegeDao" 	class="com.scholarship.dao.college.impl.CollegeDaoImpl" parent="baseDaoMyBatis"/>
	<!-- 奖金DAO -->
	<bean id="scholarshipDao" class="com.scholarship.dao.scholarship.impl.ScholarshipDaoImpl" parent="baseDaoMyBatis"/>
	<!-- 账户DAO -->
	<bean id="accountDao" 	class="com.scholarship.dao.account.impl.AccountDaoImpl" parent="baseDaoMyBatis"/>
	<!-- 数据DAO -->
	<bean id="datasDao"		class="com.scholarship.dao.datas.impl.DatasDaoImpl" parent="baseDaoMyBatis"></bean>
	<!-- 申请DAO -->
	<bean id="applyDao"		class="com.scholarship.dao.apply.impl.ApplyDaoImpl" parent="baseDaoMyBatis"></bean>
	<!-- <bean id="Dao"		class="com.scholarship.dao." parent="baseDaoMyBatis"></bean> -->
	<!-- 审计DAO
	<bean id="auditDao"		class="com.scholarship.dao.audit.impl.AuditDaoImpl" parent="baseDaoMyBatis"></bean> -->
</beans>
